<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927575697331-rcegshh74rrrme5lv5kr8l220a90aas8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927575697331-rcegshh74rrrme5lv5kr8l220a90aas8</string>
	<key>API_KEY</key>
	<string>AIzaSyDKhCkQ2DdMUmgf-eCZ6OjC-9kyYD9gir8</string>
	<key>GCM_SENDER_ID</key>
	<string>927575697331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newmates.mylittlelife</string>
	<key>PROJECT_ID</key>
	<string>mylittlelife-e1a4b</string>
	<key>STORAGE_BUCKET</key>
	<string>mylittlelife-e1a4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927575697331:ios:d0a160cfdcd7885fc08dc6</string>
</dict>
</plist>